@import 'font';
@import 'font-awesome';
@import 'reset';
@import 'calendar';
@import 'var';

*{
	box-sizing: border-box;
}
body{
	font-size: 18px;
	color: $fontColor;
	font-family: Roboto;
	background-color: $bodyColor;
}
h1{
	font-size: $pageHeader;
	margin-bottom: $gutter;
}
