@import '../../../../style/var';
@import '../../../../style/mixins';

@mixin btn default, $primaryColor, $bodyColor2, false{}
@mixin btn disabled, color($bodyColor lightness(95%)), color($fontColor lightness(50%)), true{}
.addEvent, .addNews{
	border: 0;
	font-size: 1.8em;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	color: $bodyColor2;
	background-color: $primaryColor;
	box-shadow: $shadowOne;
	transition: background-color $anim;
	cursor: pointer;
	&:hover{
		background-color: color($primaryColor lightness(-10%));
	}
	&:focus{
		outline: 0;
	}
	&:active{
		background-color: color($primaryColor lightness(-20%));
	}
}
.addEvent{
	margin-left: $gutter;
	margin-right: calc($gutter / 2);
}
.addNews{
	margin-left: calc($gutter / 2);
}