@import '../../../../style/var';

@define-mixin button $name, $color, $fontColor: #fff, $fontSize: 16px, $border: 0, $borderRadius: 0px, $padding: 0, $width: auto{
	.$(name){
		background-color: $color;
		color: $fontColor;
		border: $border;
		border-radius: $borderRadius;
		padding: $padding;
		font-size: $fontSize;
		letter-spacing: 1px;
		width: $width;
		cursor: pointer;
		transition: background-color 0.3s ease-in-out;
		&:hover{
			background-color: color($color lightness(-10%));
		}
		&:focus{
			outline: 0;
			background-color: color($color lightness(-10%));
		}
	}
}